In [1]:
import pandas as pd
import pickle
import json
from sklearn.preprocessing import LabelEncoder

In [2]:
with open('tree.pkl', 'rb') as tree_file:
    model = pickle.load(tree_file)

C:\Users\cleon\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [3]:
with open('encoder.pkl', 'rb') as encoder_file:
    LE = pickle.load(encoder_file)

C:\Users\cleon\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

## load json

In [4]:
with open('datos1.json') as json_file:
    dicc = json.load(json_file)
# print(dicc['datos'])

In [5]:
## Dataframe

In [5]:
datos = pd.DataFrame(dicc['datos'])
# datos

,ID,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914,1.335,1144,42,1.625,0.061
1,2,40,F,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914,1.335,1144,42,1.625,0.061

In [6]:
ID = datos['ID']
datos = datos.drop(columns=['ID'])

NameError: name 'datos' is not defined

In [7]:
columns_object = ['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']

for column in columns_object:
    datos[column] = LE.transform(datos[column])
# datos

NameError: name 'datos' is not defined

## Prediccion

In [8]:
y_predict = model.predict(datos)
# y_predict

array([9, 9])

In [9]:
y_predict = LE.inverse_transform(y_predict)
# y_predict

array(['Existing Customer', 'Existing Customer'], dtype='<U17')

In [10]:
list_of_tuples = list(zip(ID, y_predict))
# list_of_tuples

[(1, 'Existing Customer'), (2, 'Existing Customer')]

In [11]:
response = { item[0] : item[1] for item in list_of_tuples }
# response

{1: 'Existing Customer', 2: 'Existing Customer'}

In [12]:
json.dumps(response)

'{"1": "Existing Customer", "2": "Existing Customer"}'